.btn-navbar {
  margin: 0.25em;
}

@media (max-width: 992px) {
  .btn-navbar {
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

.jumbotron {
  background-image: url("blair-superimposed.png");
  background-size: cover;
  background-position: 20% 20%;
  height: 100%;
  min-height: 35rem;
  max-height: 30%;
  margin: 0;
  min-width: 100%;
}

@media (max-width: 1132px){
  #about {

  }
}

.bg-dim {

}

.btn-warning {

}

.navbar-dark {
  background-color: #282474;
}
