.btn-navbar {
  margin: 0.25em;
}

@media (max-width: 992px) {
  .btn-navbar {
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

.jumbotron {
  background:transparent url("assets/img/blair-superimposed.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 30rem;
  margin: 0;
}

@media (max-width: 1132px){
  #about {

  }
}

.bg-dim {

}

.btn-warning {

}

.navbar-dark {
  background-color: #282474;
}
